.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
position: sticky;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}
body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}

  
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: cyan;
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.vina-container li {
    border-radius: 16px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.vina-container .table-header {
    background-color: rgba(76, 175, 79, 0.7);
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vina-container .table-row {
    background-color: #ffffffe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vina-container .col-1 {
    flex-basis: 90%;
}

.vina-container .col-2 {
    flex-basis: 10%;
}

.piva-container li {
    border-radius: 16px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.piva-container .table-header {
    background-color: rgba(76, 175, 79, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.piva-container .table-row {
    background-color: #ffffffe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.piva-container .col-1 {
    flex-basis: 90%;
}

.piva-container .col-2 {
    flex-basis: 10%;
}

.zestice-container li {
    border-radius: 16px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.zestice-container .table-header {
    background-color: rgba(76, 175, 79, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zestice-container .table-row {
    background-color: #ffffffe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zestice-container .col-1 {
    flex-basis: 90%;
}

.zestice-container .col-2 {
    flex-basis: 10%;
}
