.grid-container{
    display: grid;
    grid-gap: 10px;
}
body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}
footer{
position: sticky;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}


.grid-box1{
    grid-column: 1/3;
    grid-row: 1/3;
}
grid-box1:hover img{
    transform: scale(1.2);
}

.grid-box2{
    grid-column: 3;
    grid-row: 1;
}

.grid-box3{
    grid-column: 4;
    grid-row: 1;
}

.grid-box4{
    grid-column: 1/3;
    grid-row: 4/6;
}

.grid-box5{
    grid-column: 1;
    grid-row: 3;
}

.grid-box6{
    grid-column: 2;
    grid-row: 3;
}

.grid-box7{
    grid-column: 4;
    grid-row: 2;
}

.grid-box8{
    grid-column: 3;
    grid-row: 2;
}

.grid-box9{
    grid-column: 3/5;
    grid-row: 3/5;
}

.grid-box10{
    grid-column: 3;
    grid-row: 5;
}

.grid-box11{
    grid-column: 4;
    grid-row: 5;
}

img{
    max-width: 100%;
    max-height: auto;
    border-radius: 16px;
}

