*{
    margin: 0;
    padding: 0;

}
body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}
.text{
    font-family: italicni;
}
main{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
}

@font-face {
    font-family: italicni;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
}


main div{
    text-align: center;
    color: white;
    font-size: 400%;
}
footer{
position: absolute;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}


