body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}

.offer-container{
    top: 90px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
position: absolute;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}

.coffe-grid{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin-bottom: 30px;
}

.alcohol-grid{
    grid-column: 2;
    grid-row: 1; 
    text-align: center;
    margin-bottom: 30px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

h1{
    margin-bottom: 10px;
}

