h2{
    color: cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content{
    color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, auto);
    grid-gap: 20px;
    padding: 20px;
}
body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}


.tko{
    color: cyan;
    grid-column: 1;
    grid-row: 1;
}

.tko-pic{
    
    grid-column: 1;
    grid-row: 2;
}

.tko-text{
    color: cyan;
    grid-column: 1;
    grid-row: 2;
    margin-top: 20px;
    font-weight: bold;
}

.gdje{
    grid-column: 2;
    grid-row: 1;
}

.map{
    grid-column: 2;
    grid-row: 2;
}

.informacije{
    grid-column: 3;
    grid-row: 1;
}

.informacije-about{
    grid-column:3;
    grid-row: 2;
}

#caffe{
    border-radius: 16px;
    width: 100%;
    height: auto;
}

#karta{
    width: 80%;
    height: 60%;
}

#social{
    width: 50px;
    height: 50px;
    padding: 2px;
}
footer{
position: absolute;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}