main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
}

body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}


#ground_plan{
    width: 100%;
    height: auto;
    padding: 2px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 12px;
}

.text-container {
    padding-top: 18px;
    padding-right: 8px;
    padding-left: 8px;
    grid-column: 2;
    grid-row: 1;
}

.text-container h2{
    color: cyan;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text-container p{
    color: cyan;
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.text-container #social{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 20px;
    
}

footer{
position: absolute;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}
