.slideshow-container{
    margin-top: 3em;
    margin-left: 9em;
    width: 900px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border-radius: 16px;
}

.slideshow-container #image1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshow-container #image2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshow-container #image3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshow-container .mySlides{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 1000ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.mySlides {
    position: relative;
    color: white;
    font-style: oblique;
}

.text1{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.text2{
    position: absolute;
    bottom: 5px;
    right: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.text3{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
