*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: gainsboro;
    display: table;
    height: 100%;
    width: 100%;
}

nav{
    z-index: 9999;
    position: relative;
}

section{
    padding: 20px;
    height: auto;
    padding-bottom: 48px;
}

footer{
    background-color: black;
    opacity: .8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 1px;
    display: table-row;
    text-align: center;
    font-size: 12px;
    color: whitesmoke;
}

#credits{
    font-size: 8px;
}