.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-image: url(../jazz/jazzbina.jpg);
    background-size: cover;

}
footer{
position: sticky;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px; 

}
footer p{
    margin-top: 1em;
}


h2 {
    color: cyan;
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.toplinapitci-container li {
    border-radius: 16px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.toplinapitci-container .table-header {
    background-color: rgba(76, 175, 79, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toplinapitci-container .table-row {
    background-color: #ffffffe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
