nav{
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: .8;
    z-index: 9999;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li:hover{
    background-color: gray;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

nav ul li a{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 19px;
    padding: 19px 20px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #000;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
    z-index: 9999;
    border-radius: 16px;
}

nav ul li ul li {
    width: 190px;
    border-radius: 16px;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background-color: gray;
    border-radius: 16px;
}

.active{
    background-color: rgba(76, 175, 79, 0.5);
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}



